.login-box-container{
	border:1px solid #ccc;
	background:#fff;
	max-width:740px;
	margin:0 auto;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.error-box{
	border:1px solid #f11;
	background:#fdd;
}
.error-box label{
	color:#333;
	font-size:14px;
	margin-bottom:5px;
}
.error-box p{
	font-size:13px;
	margin-top:10px;
}
.error-box p a{
	color:#277eb4;
	font-weight:700;
}
.login-box{ margin-top:20px; }
.form-row{
	max-width:350px;
	margin:0 auto 10px;
}
.form-row span{ font-size:13px; }
.form-row a{
	font-weight:700;
	color:#277eb4;
}
.forgot{
	font-size:12px;
	font-weight:100;
}

/* Welcome View */
.welcome{
	border:2px solid #277eb4;
	line-height:150%;
	font-style:italic;
}
.inner-all.welcome{ padding:30px 20px; }

/* Extras */
.icon-like{
	color:#f56;
	font-size:57px;
	line-height:48px!important;
}