.medications{
	margin-top:10px;
	font-size:14px;
}
.med{
	background:#fff;
	padding:15px;
	margin-bottom:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.med .label, .med .value{
	margin:0;
}
.med .label{
	margin-bottom:2px;
	color:#999;
}
.med .value{
	font-weight:700;
	color:#111;
}
.med li{
	display:block;
	clear:both;
	margin-bottom:12px;
}